<a href="https://colab.research.google.com/github/Justmove08/Python-Lessons/blob/master/%D0%90%D0%BF%D1%80%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D1%83%D1%80%D1%81_2020_Light_Python_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Памятка по домашнему заданию**

*   Максимальный балл за правильно выполненное ДЗ - **20** (10 за версию Light, 10 за версию PRO).
*   Имеющиеся в ДЗ ошибки можно исправить. Максимальный балл после исправления замечаний - **19**.
*   Максимальный балл через две недели после получения ДЗ - **18**.
*   Минимальный балл при условии выполнения всех заданий - **7**.

# Задачи Light

### Задача 1

Используя соответствующую функцию библиотеки pandas, подгрузите датасет из файла 'train.csv'. 

Выведите на экран первые 5 строк датафрейма (метод head).

В качестве индексов датафрейма укажите нулевой столбец.

*Для решения данной задачи достаточно материалов вебинара*

In [20]:
import pandas as pd
import numpy as np
data = pd.read_csv('train.csv', index_col = 0)

data.head(5)

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

### Задача 2

Для подгруженного из предыдущей задачи датасета:
* посчитайте, сколько всего записей,
* определите тип данных в каждом столбце,
* проверьте: есть ли пропуски,
* выведите на экран описательные статистики.

P.S. Используйте соответствующие встроенные методы.

*Для решения данной задачи достаточно материалов вебинара*

In [21]:
# 1. Посчитайте, сколько всего записей
data.shape[0]

1460

In [22]:
# 2. Определите тип данных в каждом столбце
data.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [23]:
# 3. Проверьте: есть ли пропуски
data.isna()

      MSSubClass  MSZoning  LotFrontage  ...  SaleType  SaleCondition  SalePrice
Id                                       ...
1          False     False        False  ...     False          False      False
2          False     False        False  ...     False          False      False
3          False     False        False  ...     False          False      False
4          False     False        False  ...     False          False      False
5          False     False        False  ...     False          False      False
...          ...       ...          ...  ...       ...            ...        ...
1456       False     False        False  ...     False          False      False
1457       False     False        False  ...     False          False      False
1458       False     False        False  ...     False          False      False
1459       False     False        False  ...     False          False      False
1460       False     False        False  ...     False          False      False

[1460 rows x 80 columns]

In [24]:
# 4. Выведите на экран описательные статистики
data.describe()

        MSSubClass  LotFrontage  ...       YrSold      SalePrice
count  1460.000000  1201.000000  ...  1460.000000    1460.000000
mean     56.897260    70.049958  ...  2007.815753  180921.195890
std      42.300571    24.284752  ...     1.328095   79442.502883
min      20.000000    21.000000  ...  2006.000000   34900.000000
25%      20.000000    59.000000  ...  2007.000000  129975.000000
50%      50.000000    69.000000  ...  2008.000000  163000.000000
75%      70.000000    80.000000  ...  2009.000000  214000.000000
max     190.000000   313.000000  ...  2010.000000  755000.000000

[8 rows x 37 columns]

### Задача 3

Используя соответствующий встроенный метод, "дропните", т.е. удалите из нашей таблички все столбцы, у которых количество пропущенных значений больше 200.

* Найдите все такие столбцы (метод .isna() + подвыборка с условием)
* Определите их названия
* "Дропните их" (используйте метод .drop(имена столбцов))
* Результат сохраните в новой табличке data_1, исходную менять не нужно

*Для решения данной задачи достаточно материалов вебинара. Но потребуется объединить известные методы.*

Могут быть полезны следующие параметры и методы:

*   columns - названия столбцов датафрейма
*   df[условие] - подвыборка элементов по условию
*   .drop - удаление строк или столбцов (в зависимости от параметра axis)

In [0]:
columns_names = data.columns[data.isna().sum() > 200]
data_1 = data.drop(columns = columns_names)

### Задача 4

В финальном датасете из прошлой задачи (data_1) "дропните" все строки с пропусками в данных, используйте соответствующий встроенный метод (.dropna()). В этой задаче, в отличие от предыдущей, выполните операцию "inplace", т.е. измените исходную таблицу.

*Описание метода .dropna() есть в материалах вебинара. Но сам метод не разбирался.*

In [0]:
data_1.dropna(axis = 0, how = 'any', inplace = True)

### Задача 5

Данные, с которыми мы работаем в этом домашнем задании, содержат информацию о проданных домах. В датафрейме из прошлой задачи (data_1) найдите все дома, проданные в 2007 году, у которых цена продажи выше 300000 и есть бассейн. Для подвыборки с указанными условиями сначала создайте маску:

* цена продажи SalePrice
* год продажи YrSold
* наличие бассейна можно определить по столбцу PoolArea

*Для решения данной задачи достаточно материалов вебинара.*

In [27]:
mask = (data['YrSold'] == 2007) & (data['SalePrice'] > 300000) & (data['PoolArea'] == 1)
print(data[mask])

Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

### Задача 6

Добавьте к табличке data_1 новый столбец с названием 'Flag'. Присвойте ему значения 0 или 1 в случайном порядке. Для этого
    
* создайте одномерный массив из случайных целых чисел 0 или 1
* размер массива должен соответствовать количеству наблюдений в датафрейме data_1
* создайте новый столбец и присвойте ему значения одномерного массива

*Для решения данной задачи достаточно материалов вебинара.*

In [0]:
row_total = data_1.shape[0]
my_array = np.random.randint(0,2,row_total)
data_1['Flag'] = my_array

# Задачи Pro

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250) в переменную data.
* Преобразуйте колонку InvoiceDate в DateTime index.
* Удалите колонку InvoiceDate.

*Для решения данной задачи достаточно материалов вебинара.*

In [29]:
import pandas as pd
data = pd.read_csv('data.csv', encoding = 'cp1250')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [30]:
data.index = pd.to_datetime(data['InvoiceDate'])
data.drop('InvoiceDate', axis = 1, inplace = True)
data

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-09 12:50:00    581587     22613  ...    12680.0          France
2011-12-09 12:50:00    581587     22899  ...    12680.0          France
2011-12-09 12:50:00    581587     23254  ...    12680.0          France
2011-12-09 12:50:00    581587     23255  ...    12680.0          France
2011-12-09 12:50:00    581587     22138  ...    12680.0          France

[541909 rows x 7 columns]

### Задача 2

Используя датафрейм data, выберите все заказы, совершенные за период 7 декабря 2010 года с часа дня до часа и одной минуты.  
*Для решения данной задачи достаточно материалов вебинара.*

In [31]:
period = data['2010-12-07 13:00':'2010-12-07 13:01']
period

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-07 13:01:00    537604     84991  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21845  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21534  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21527  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21528  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21843  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22429  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22551  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22557  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22555  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22304  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22305  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20749  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22525  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22524  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22515  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22514  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22518  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82552  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20750  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21212  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21210  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22567  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22558  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21155  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22061  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37446  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37449  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22519  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21754  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20969  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20967  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22570  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22568  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22569  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20971  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84880  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82484  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22173  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84879  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21136  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22185  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22488  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     71477  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604    85123A  ...    13488.0  United Kingdom

[45 rows x 7 columns]

### Задача 3

По той же рабочей табличке:
* посчитайте количество уникальных наименований товаров (Description), которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод.
* найдите все уникальные страны, в которых были размещены заказы.

*Для решения данной задачи достаточно материалов вебинара.*

In [33]:
# Посчитайте количество уникальных наименований товаров (Description), которые купили за весь период (т.е. по всем данным).
data.Description.unique().size

4224

In [34]:
# В колонке Description есть ячейка с неизвестным именем.
mask = data['Description'] == 'lost'
unique_description_size = data.Description.unique().size - data[mask].Description.size
unique_description_size

4223

In [35]:
data.Country.unique().size

38

### Задача 4

* Посчитайте матрицу корреляции Спирмена для наших данных.
* Найдите 1%, 50% и 99% квантили цены за единицу товара.

*Для решения данной задачи потребуется самостоятельно найти способ получения матрицы Спирмена. Обратите внимание, на вебинаре продемонстрирован пример матрицы Пирсона.*

In [36]:
data.corr(method = 'spearman')

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.385407   -0.141124
UnitPrice  -0.385407   1.000000   -0.013255
CustomerID -0.141124  -0.013255    1.000000

In [37]:
data.UnitPrice.quantile([0.01,0.5,0.99])

0.01     0.19
0.50     2.08
0.99    18.00
Name: UnitPrice, dtype: float64

### Задача 5

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого
* сделайте подвыборку, соответствующую условию "в понедельник",
* посчитайте количество уникальных ID клиентов.

*Для решения этой задачи потребуется использовать параметр индекса weekday (по аналогии с рассмотренными на вебинаре примерами .index.month, .index.day)*

In [38]:
data[data.index.weekday == 0].CustomerID.unique().size

1770

### Задача 6

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

*Для решения данной задачи достаточно материалов вебинара.*

In [39]:
data['TotalCost'] = data['Quantity'] * data['UnitPrice']
data

                    InvoiceNo StockCode  ...         Country  TotalCost
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...  United Kingdom      15.30
2010-12-01 08:26:00    536365     71053  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84406B  ...  United Kingdom      22.00
2010-12-01 08:26:00    536365    84029G  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84029E  ...  United Kingdom      20.34
...                       ...       ...  ...             ...        ...
2011-12-09 12:50:00    581587     22613  ...          France      10.20
2011-12-09 12:50:00    581587     22899  ...          France      12.60
2011-12-09 12:50:00    581587     23254  ...          France      16.60
2011-12-09 12:50:00    581587     23255  ...          France      16.60
2011-12-09 12:50:00    581587     22138  ...          France      14.85

[541909 rows x 8 columns]

In [40]:
data.TotalCost.resample('W').sum()

InvoiceDate
2010-12-05    181847.250
2010-12-12    270287.030
2010-12-19    207052.170
2010-12-26     89770.570
2011-01-02         0.000
2011-01-09     93720.930
2011-01-16    190994.960
2011-01-23    133782.910
2011-01-30    119136.810
2011-02-06    123642.180
2011-02-13    102296.930
2011-02-20    139664.580
2011-02-27    133069.930
2011-03-06    130435.560
2011-03-13    129180.960
2011-03-20    145262.610
2011-03-27    147909.800
2011-04-03    183501.710
2011-04-10    121598.220
2011-04-17    147459.771
2011-04-24    115461.250
2011-05-01     84382.660
2011-05-08    130354.310
2011-05-15    205445.230
2011-05-22    198031.530
2011-05-29    160569.820
2011-06-05    116932.520
2011-06-12    177916.870
2011-06-19    184016.500
2011-06-26    117086.710
2011-07-03    136287.440
2011-07-10    174659.170
2011-07-17    124163.170
2011-07-24    182513.960
2011-07-31    180814.851
2011-08-07    153176.200
2011-08-14    161417.020
2011-08-21    170724.890
2011-08-28    149603.500
2011-09-04    143819.060
2011-09-11    190513.470
2011-09-18    211722.620
2011-09-25    326156.721
2011-10-02    206858.231
2011-10-09    302466.590
2011-10-16    205734.640
2011-10-23    263762.220
2011-10-30    238642.190
2011-11-06    288266.770
2011-11-13    346560.140
2011-11-20    380407.570
2011-11-27    308185.020
2011-12-04    319874.990
2011-12-11    300605.220
Freq: W-SUN, Name: TotalCost, dtype: float64

### Задача 7

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого
* сделайте resampling в ежедневные данные,
* посчитайте скользящее среднее за 7 дней по столбцу TotalCost.

*Для решения второй части данной задачи потреуется самостоятельно найти способ определения скользящего среднего.*

In [41]:
data.TotalCost.resample('D').sum().rolling(window = 7).mean()

InvoiceDate
2010-12-01             NaN
2010-12-02             NaN
2010-12-03             NaN
2010-12-04             NaN
2010-12-05             NaN
                  ...
2011-12-05    46026.327143
2011-12-06    43456.208571
2011-12-07    45731.242857
2011-12-08    50017.932857
2011-12-09    46453.000000
Freq: D, Name: TotalCost, Length: 374, dtype: float64

### Задача 8: GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам.

*Для решения данной задачи достаточно материалов вебинара. Но потребуется объединить несколько методов.*

In [42]:
data.groupby('Country')['TotalCost'].resample('M').sum().head(50)

Country    InvoiceDate
Australia  2010-12-31      1005.10
           2011-01-31      9017.71
           2011-02-28     14627.47
           2011-03-31     17055.29
           2011-04-30       333.40
           2011-05-31     13628.51
           2011-06-30     25164.77
           2011-07-31      4767.57
           2011-08-31     22489.20
           2011-09-30      5031.73
           2011-10-31     17150.53
           2011-11-30      6805.99
Austria    2010-12-31       257.04
           2011-01-31         0.00
           2011-02-28       518.36
           2011-03-31      1708.12
           2011-04-30       680.78
           2011-05-31      1249.43
           2011-06-30       -24.20
           2011-07-31      1191.95
           2011-08-31      1516.08
           2011-09-30         0.00
           2011-10-31      1043.78
           2011-11-30      1329.78
           2011-12-31       683.20
Bahrain    2010-12-31       205.74
           2011-01-31      -205.74
           2011-02-28         0.00
           2011-03-31         0.00
           2011-04-30         0.00
           2011-05-31       548.40
Belgium    2010-12-31      1809.91
           2011-01-31      1154.05
           2011-02-28      2161.32
           2011-03-31      3333.58
           2011-04-30      1954.15
           2011-05-31      2727.00
           2011-06-30      4273.17
           2011-07-31      2473.62
           2011-08-31      3536.12
           2011-09-30      4197.82
           2011-10-31      5651.38
           2011-11-30      6229.41
           2011-12-31      1409.43
Brazil     2011-04-30      1143.60
Canada     2011-03-31       140.54
           2011-04-30         0.00
           2011-05-31       534.24
           2011-06-30      1171.46
           2011-07-31      1768.58
Name: TotalCost, dtype: float64

### Задача 9: JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv).
* Назовите ее cards.
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards.
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc.

*Для решения данной задачи достаточно материалов вебинара.*

In [44]:
cards = pd.read_csv('card_data.csv', encoding = 'cp1251')
data.iloc[:100,:].merge(cards, on = 'CustomerID', how = 'left')

      InvoiceNo StockCode  ... TotalCost  TransactionNum
0        536365    85123A  ...      15.3             127
1        536365    85123A  ...      15.3             414
2        536365    85123A  ...      15.3             296
3        536365    85123A  ...      15.3             409
4        536365    85123A  ...      15.3             309
...         ...       ...  ...       ...             ...
27665    536378     84991  ...      13.2             224
27666    536378     84991  ...      13.2             166
27667    536378     84991  ...      13.2             440
27668    536378     84991  ...      13.2             399
27669    536378     84991  ...      13.2             370

[27670 rows x 9 columns]